@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Itim');

*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%; // 10px

    @media only screen and (max-width: $bp-medium) {
        font-size: 56.25%; // 9px
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 50%; // 8px
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: $color-dark;
    background: $color-light;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background: $color-primary;
    color: $color-light;
}
