// COLORS
$color-primary: #b20202;

$color-light: #eee;
$color-dark: #222;

$color-light-hover: #aaa;
$color-overlay: rgba(0, 0, 0, 0.7);

// FONTS
$font-heading-main: 6rem;
$font-heading-sub: 4.5rem;
$font-nav-links: 3.5em;
$font-large: 2.2rem;
$font-medium: 1.6rem;
$font-small: 1.3rem;

// BREAKPOINTS
$bp-large: 56.25em; // 900px
$bp-medium: 41em; // 656px
$bp-small: 28em; // 448px
