.footer {
    @include background;

    text-align: center;
    color: $color-light;

    &__logo {
        max-width: 12rem;
        margin: 4rem;
        position: relative;
        z-index: 2;

        @media only screen and (max-width: $bp-medium) {
            margin: 2rem;
        }
    }

    &__legal {
        font-size: $font-medium;
        padding: 2rem;
        position: relative;
        z-index: 2;
    }
}
