.products {
    width: 120rem;
    max-width: 95%;
    margin: 6rem auto;

    @media only screen and (max-width: $bp-medium) {
        margin: 2rem auto;
    }

    &__list {
    }

    &__item {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-template-areas: 'left right';

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'left'
                'right';
        }

        &:nth-child(even) {
            grid-template-areas: 'right left';

            @media only screen and (max-width: $bp-medium) {
                grid-template-areas:
                    'left'
                    'right';
            }

            .products__about {
                padding: 8rem 0 8rem 8rem;
                text-align: left;

                @media only screen and (max-width: $bp-large) {
                    padding: 3rem 0 3rem 3rem;
                }

                @media only screen and (max-width: $bp-medium) {
                    padding: 3rem 0;
                    text-align: center;
                }
            }
        }
    }

    &__about {
        padding: 8rem 8rem 8rem 0;
        text-align: right;
        grid-area: left;

        @media only screen and (max-width: $bp-large) {
            padding: 3rem 3rem 3rem 0;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: 3rem 0;
            text-align: center;
        }
    }

    &__lead {
        color: $color-primary;
        text-transform: uppercase;
        font-size: $font-small;
    }

    &__label {
        font-family: 'Itim', cursive;
        font-size: $font-heading-sub;

        @media only screen and (max-width: $bp-medium) {
            line-height: 1.1;
        }
    }

    &__description {
        font-size: $font-medium;
        padding: 3rem 0;
    }

    &__img {
        display: block;
        max-width: 100%;
        position: relative;
        grid-area: right;
    }
}
