.showcase {
    @include background;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        max-width: 95%;
        text-align: center;
        color: $color-light;
        position: relative;
        z-index: 2;
    }

    &__logo {
        max-width: 20rem;
        margin-bottom: 5rem;

        @media only screen and (max-height: 30em) {
            max-width: 15rem;
            margin-bottom: 0;
        }
    }

    &__heading {
        font-size: $font-heading-main;
        font-family: 'Itim', cursive;
    }

    &__description {
        font-size: $font-large;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
}
