.testimonial {
    text-align: center;
    width: 80rem;
    max-width: 95%;
    margin: 6rem auto;

    &__quote {
        font-style: italic;
        margin-bottom: 3rem;

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }
    }

    &__img {
        display: inline-block;
        margin: 2.5rem;
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__author {
        font-weight: 700;
        text-transform: uppercase;

        &--secondary {
            font-size: $font-small;
            color: $color-primary;
            text-transform: uppercase;
        }
    }

    &__bubble {
        width: 50rem;
        max-width: 90%;
        text-align: center;
        font-size: $font-medium;
        margin: auto;
        padding: 3rem 6rem;
        border: 1px solid $color-primary;
        position: relative;

        @media only screen and (max-width: $bp-small) {
            padding: 3rem;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:before {
            border: 10px solid transparent;
            border-top-color: $color-primary;
        }

        &:after {
            border: 9px solid transparent;
            border-top-color: $color-light;
        }
    }
}
